<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomMessengerWorkout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6368EBD91C45F303008649AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6368EBED1C45F303008649AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6368EBF81C45F303008649AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
